.admin_panel_inventary {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.inventary_handle {
  padding: 10px;
}
.inventary_handle_btns {
  margin: 0 2px;
}

.inventary_ctn {
  flex-grow: 1;
  width: 100%;
  height: 10rem;
  overflow-y: scroll;
  padding: 20px 0;
}

.inventary_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  grid-auto-flow: row;
  justify-items: center;
  justify-content: start;
}
