.navbar-main-container {
	position: sticky;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 600;

	height: 7vh;
	padding: 0 50px;

	background-color: var(--secondary-color);
}

.navbar-sub-container {
	display: flex;
	align-items: center;
	gap: 15px;
}

.navbar-sub-container.left {
	justify-content: start;
}

.navbar-sub-container.right {
	justify-content: end;
}

.navbar-option {
	display: flex;
	align-items: center;
	gap: 8px;

	font-weight: 300;
	font-size: 16px;

	color: white;

	& svg {
		fill: white;
	}

	&:hover {
		font-weight: 700;
	}
}

.navbar-option.selected {
	font-weight: 700;
}
