.subnavbar-main-container {
	grid-area: subnavbar;
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 90%;
	padding: 20px 0;
	margin-inline: auto;
}

.subnavbar-main-container.width-100 {
	width: 100%;
}

.subnavbar-main-container.filter {
	height: 10vh;
}
