.no-found-main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;

	padding: 40px 0;
	width: 50%;
	margin-inline: auto;
}

.no-found-title {
	display: flex;
	align-items: center;
	gap: 20px;

	font-size: 60px;
	font-weight: 900;
}

.no-found-description {
	text-align: center;
}
