.product-card-container {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&:hover {
		.product-card-image {
			background-color: var(--light-gray);
		}
	}
}

.product-card-container.space {
	justify-content: space-between;
}

.product-card-heart {
	position: absolute;
	top: 20px;
	left: 20px;
}

.product-card-image {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 40vh;

	background-color: var(--gradient-tone);

	& > img {
		object-fit: contain;

		width: 100%;
		height: 100%;
	}

	& > b {
		display: flex;
		flex-direction: column;

		text-align: center;
		font-size: 20px;
		font-weight: 900;

		color: black;
	}
}

.product-card-name {
	font-weight: 900;
	font-size: 1rem;
}

.product-card-price {
	font-weight: 300;
	font-size: 1em;
}

.product-card-tag {
	position: absolute;
	top: 20px;
	right: 0;

	text-transform: uppercase;
	font-size: 12px;
	padding: 2px 10px;
}

.product-card-tag.normal {
	background-color: var(--secondary-color);
	color: white;
}

.product-card-tag.new {
	background-color: var(--success-color);
	color: black;
}

.product-card-buttons {
	display: flex;
	gap: 10px;

	& button {
		font-size: 16px;
		font-weight: 500;
		padding: 5px;
	}
}
