.products-main-container {
	grid-area: products;
	display: flex;
	flex-direction: column;
}

.products-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-auto-rows: 1fr;
	grid-row-gap: 15px;
	grid-column-gap: 15px;
	z-index: 0;

	width: 93%;
	margin-inline: auto;
}

.products-container.width-100 {
	width: 100%;
}
