.product-card-container {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&:hover {
		.product-card-image {
			background-color: var(--light-gray);
		}
	}
}

.product-card-container.space {
	justify-content: space-between;
}

.product-card-heart {
	position: absolute;
	top: 20px;
	left: 20px;
}

.product-card-image {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--gradient-tone);

	& img {
		object-fit: contain;

		width: 100%;
		height: 40vh;
	}

	& b {
		display: flex;
		flex-direction: column;

		text-align: center;
		font-size: 20px;
		font-weight: 900;

		color: black;
	}
}

.product-card-name {
	font-weight: 900;
	font-size: 1rem;
}

.product-card-price {
	font-weight: 300;
	font-size: 1em;
}

.product-card-tag {
	position: absolute;
	top: 20px;
	right: 0;

	text-transform: uppercase;
	font-size: 12px;
	padding: 2px 10px;
}

.product-card-tag.normal {
	background-color: var(--secondary-color);
	color: white;
}

.product-card-tag.new {
	background-color: var(--success-color);
	color: black;
}

.product-card-buttons {
	display: flex;
	gap: 10px;
}

.product-card-button {
	font-weight: 500 !important;
	font-size: 16px !important;
	padding: 5px !important;
	text-align: center;
}

.product-card-quantity-main-container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: auto;

	display: none;
	width: 100%;
	height: 100%;

	background-color: rgba(56, 53, 53, 0.7);
	cursor: default;
}

.product-card-quantity-info-container {
	display: flex;
	flex-direction: column;
	gap: 5px;

	color: white;
}

.products-card-quantity-info {
	display: grid;
	grid-template-columns: 1fr 1fr;

	& b {
		display: flex;
		flex-direction: column;
		font-weight: 900;
		font-size: 22px;

		color: white;
		text-align: left;
	}

	& span {
		text-transform: capitalize;
		font-size: 18px;
	}
}

.product-card-no-colors {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-height: 40vh;
}

.product-card-container.admin {
	&:hover {
		.product-card-quantity-main-container {
			display: flex;
		}

		.product-card-image img {
			filter: blur(7px);
		}
	}
}
