.products-main-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	grid-row-gap: 15px;
	grid-column-gap: 15px;

	width: 100%;
	max-width: 1280px;
	padding: 20px;
	margin-inline: auto;
}
