.admin-panel-form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.admin-panel-form-title{
    font-size: 40px;
    font-weight:bolder;
    text-align: left;
    font-family: var(--primary-font);
    padding: 20px 0;
}
.admin-panel-form-item{
    display: flex;
    flex-direction: column;
    position: relative;
}

.admin-panel-form-item span {
    position: absolute;
    font-size: 12px;
    color: rgb(255, 19, 19);
    top :-15px;
}
.admin-panel-form-item-disabled{
    user-select: none;
    pointer-events: none;
    background-color: red!important;
}


.admin-panel-form-item input,
 .admin-panel-form-item textarea ,
  .admin-panel-form select{
    outline: none;
    border: 1px solid var(--medium-gray);
    color: var(--medium-black);
    padding: 10px;
    font-size: 18px;
    font-family: var(--primary-font);
    width: 100%;
}

.admin-panel-form select{
    padding-right: 15px;
    cursor: pointer;
}


.admin-panel-form textarea{
    resize: none;
    height: 200px;
    padding: 15px;
    line-height:1.2;
    max-height: 250px;
}


.admin-panel-form-btns{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}



.admin-panel-form-btns button{
  flex-grow: 1;
}


.admin-panel-form-price-concurrency{
    position: absolute;
    right:28px;
    top: 13px;
}


input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}