.admin-panel-ctn{
    display: grid;
    grid-template-columns: .7fr 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
    height: 93vh;
}
.admin-panel-ctn > div {
    padding: 60px;
}

.admin-panel-form-ctn{
    display: flex;
    flex-direction: column;
    
}

.admin-panel-colors-ctn{
    background-color: blue;
}