.admin-panel-colors-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.admin-panel-disabled {
  pointer-events: none;
  user-select: none;
}

.admin-panel-droopdown-disabled {
  pointer-events: none;
  background-color: rgb(90, 90, 90)!important;
}

.admin-panel-colors-form-droopdown {
  display: flex;
  background-color: black;
  color: white;
  padding: 5px;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 15px;
  position: relative;
}



.admin-panel-colors-form-droopdown .message-error{
    position: absolute;
    font-size: 12px;
    color: rgb(255, 19, 19);
    bottom :-15px;
}

.admin-panel-colors-form-droopdown i {
  cursor: pointer;
}

.admin-panel-colors-form {
  flex-grow: 1;
}

.admin-panel-colors-form-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.admin-panel-colors-form-droopdown-inputs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

.admin-panel-colors-form-droopdown-inputs input {
  width: 90px;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 18px;
}

.admin-panel-colors-droopdown-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px;
  justify-content: center;
}

.admin-panel-colors-droopdown-size-item {
  display: flex;
  background-color: var(--light-gray);
  color: black;
  width: 150px;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  border: 1px solid var(--medium-black);
  cursor: pointer;
  gap: 1rem;
}

.admin-panel-colors-droopdown-size-item span {
  width: 50px;
  padding: 10px;
  font-size: 15px;
  background-color: white;
}

.admin-panel-colors-droopdown-size-item i {
  cursor: pointer;
  font-size: 10px;
}

.admin-panel-colors-droopdown-image-item {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 5px;
  background-color: var(--light-white);
  padding: 10px;
  transition: background-color 0.5s ease;
}

.admin-panel-colors-droopdown-image-item:hover {
  background-color: var(--light-gray);
}



.admin-panel-colors-droopdown-image-item  i{
    position: absolute;
    cursor: pointer;
    top : 7px;  
    right: 7px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    padding: 5px;
}


.admin-panel-colors-form-uploaded-button input{
    visibility: hidden;
}


.admin-panel-color-form-title-ctn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.selected-color{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid black;
  }
