.admin-panel-ctn{
    display: grid;
    grid-template-columns: .7fr 1fr;
    grid-auto-rows: 1fr;
    height: 93vh;
}


.admin-panel-ctn > div {
        display: flex;
    flex-direction: column;
}
.admin-panel-form-ctn{
    padding: 60px;
}

.admin-panel-colors-ctn{
    border-left: 1px solid var(--medium-gray);
    margin : 60px 0;
    padding: 0 60px;
}




.admin-panel-loading {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}