.btn {
  border: none;
  outline: none;
  border-radius: 1px;
  padding: 10px 20px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
}

.main_btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.second_btn {
  background-color: var(--transparent-gray);
  color: var(--medium-gray);
}

.third_btn {
  background-color: var(--primary-color);

  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
}