.landing-collections-main-container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	width: 100%;

	background-color: black;
    border: none;
}

.langin-collection-container {
	position: relative;

	border: none;
	background-color: transparent;
}

.langin-collection-container:hover {
    opacity: .7;
}

.langin-collection-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

    font-size: 50px;
    font-weight: 900;
    color: white;
}

.langin-collection-image {
	width: 100%;
	height: 80vh;
	object-fit: cover;
}
