.front-page-main-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;

	width: 100%;
	height: 93vh;

	background-color: black;
	color: white;

	& > img {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 0;

		height: 125vh;
		object-fit: contain;
	}
}

.front-page-logo-name {
	position: relative;
	z-index: 100;

	font-size: 100px;

	& > svg {
		position: absolute;
		top: 0;
		right: -50px;

        transform: rotate(90deg);
	}

	&::before {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 75%;
		border-top: 1px solid white;
	}
}
