.wrapper {
	position: relative;
	background-color: #ffffff;
	border-radius: 10px;
}
.price-range-container {
	position: relative;
	width: 100%;
	height: 100px;
	margin-top: 30px;
}
input[type='range'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	outline: none;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	background-color: transparent;
	pointer-events: none;
}
.slider-track {
	width: 100%;
	height: 5px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	border-radius: 5px;
}
input[type='range']::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	height: 5px;
}
input[type='range']::-moz-range-track {
	-moz-appearance: none;
	height: 5px;
}
input[type='range']::-ms-track {
	appearance: none;
	height: 5px;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 1.7em;
	width: 1.7em;
	background-color: black;
	cursor: pointer;
	margin-top: -9px;
	pointer-events: auto;
	border-radius: 50%;
}
input[type='range']::-moz-range-thumb {
	-webkit-appearance: none;
	height: 1.7em;
	width: 1.7em;
	cursor: pointer;
	border-radius: 50%;
	background-color: black;
	pointer-events: auto;
}
input[type='range']::-ms-thumb {
	appearance: none;
	height: 1.7em;
	width: 1.7em;
	cursor: pointer;
	border-radius: 50%;
	background-color: black;
	pointer-events: auto;
}
input[type='range']:active::-webkit-slider-thumb {
	background-color: #ffffff;
	border: 3px solid #000;
}
.values {
	display: flex;
	justify-content: space-between;

	width: 100%;

	& span {
		font-size: 18px;
	}
}
