.filters-main-container {
	position: sticky;
	top: 7vh;
	left: 0;
	overflow-y: auto;

	width: 22%;
	padding: 40px 25px 40px 0;
	height: 93vh;
	max-height: 93vh;

	& > h3 {
		font-size: 20px;
		font-weight: 700;
	}
}

.filters-container {
	display: flex;
	flex-direction: column;
}
