.cart-sneaker-amount {
	position: relative;
	display: flex;
	align-items: center;
	gap: 5px;

	padding: 15px;

	background-color: white;
	border: 1px solid var(--medium-gray);
	color: var(--secondary-color);

	& svg {
		fill: var(--secondary-color);
	}

	&:hover {
		background-color: #eee;
	}
}

.cart-sneaker-amount.small {
	& .cart-sneaker-amount-sizes {
		max-height: 12vh;
	}
}

.cart-sneaker-amount.reverse {
	padding: 5px 15px;
	border: 1px solid white;

	background-color: black;
	color: white;

	& svg {
		fill: white;
	}
}

.cart-sneaker-amount.active {
	& svg {
		transform: rotate(180deg);
	}
}

.cart-sneaker-amount-sizes {
	display: flex;
	flex-direction: column;
	overflow-x: auto;
	position: absolute;
	bottom: 100%;
	left: 0;

	width: 100%;
	max-height: 30vh;

	background-color: var(--primary-color);
	border: 1px solid var(--medium-gray);
}



.out-of-stock-card {
	color: white;
	position: absolute;
	background-color: red;
	padding: 4px;
	border-radius: 2px;
}