.product-details-main-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.product-details-color-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	padding: 0 100px;
	height: 93vh;

	background-color: var(--gradient-tone);
}

.product-details-color-name {
	text-transform: uppercase;

	font-weight: 900;
	font-size: 35px;
}

.product-details-color-price {
	font-size: 20px;
	font-weight: 700;
}

.product-details-color-description {
	font-size: 16px;
	font-weight: 300;
}

.product-details-color-image-container {
	display: flex;
	align-items: center;

	margin-inline: auto;
}

.product-details-color-directions {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 10px;
	border: none;
	border-radius: 50%;

	background-color: transparent;
	cursor: pointer;

	&:hover {
		background-color: white;
	}
}

.product-details-color-image {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 430px;

	& > img {
		height: 150%;
		object-fit: cover;
	}
}

.product-details-images-container {
	display: flex;
	gap: 10px;

	margin-inline: auto;
}

.product-details-images-image {
	background-color: white;
	opacity: 0.5;
	cursor: pointer;

	& > img {
		width: 100px;
		height: 100px;
	}

	&:hover {
		opacity: 1;
	}
}

.product-details-images-image.gray {
	background-color: var(--gradient-tone);
}

.product-details-images-image.selected {
	position: relative;

	opacity: 1;

	&::before {
		content: ' ';
		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 4px;

		background-color: black;
	}
}

.product-details-information-container {
	display: flex;
	flex-direction: column;
	gap: 25px;

	padding: 70px;
}

.product-details-secction-container {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.product-details-secction-title {
	font-size: 20px;
	font-weight: 700;
}

.product-details-secction-description {
	font-size: 12px;
	font-weight: 100;
}
