.margin-top-15 {
	margin-top: 15px;
}

.margin-top-25 {
	margin-top: 25px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-bottom-25 {
	margin-bottom: 25px;
}

.column-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.hidden-container {
	overflow: hidden !important;
}

.position-relative {
	position: relative;

	width: 100%;
}

.rm-padding {
	padding: 0 !important;
}

.hidden {
	visibility: hidden !important;
	cursor: default;
}

.sub-main-container {
	width: 100%;
}

.space-left-15 {
	margin-left: 15px;
}

.space-left-30 {
	margin-left: 50px;
}
