.margin-top-15 {
	margin-top: 15px;
}

.column-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.hidden-container {
	overflow: hidden !important;
}

.position-relative {
	position: relative;

	width: 100%;
}

.rm-padding {
	padding: 0 !important;
}
.hidden {
	visibility: hidden !important;
	cursor: default;
}
