.loader-container {
	position: relative !important;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	padding: 25px 0;
}

.loader {
	width: 40px;
	height: 40px;
	border: 5px solid var(--secondary-color);
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 500ms linear infinite;
}

.loader.white {
	width: 40px;
	height: 40px;
	border: 5px solid white;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 500ms linear infinite;
}
