.section {
  flex-grow: 1;
}
.shoe_form_ctn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 20px;
}

.shoe_form {
  flex-grow: 1;
  flex-basis: 300px;
}

.image_form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-basis: 70%;
  border-radius: 8px;
  border: solid 1px var(--gray-color);
  justify-content: space-around;

}

.shoe_form_inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.shoe_form_inputs input,
.shoe_form_inputs textarea {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  border-bottom: solid 1px var(--secondary-color);
  box-shadow: var(--box-shadow);
}

.shoe_form_inputs textarea {
  resize: none;
}

.shoe_form_inputs label,
.shoe_form_inputs textarea,
.shoe_form_inputs input {
  font-size: 16px;
}

.shoe_form_inputs input,
.shoe_configure textarea {
  color: var(--black-color);
}

.shoe_form_inputs label {
  font-size: 17px;
  font-weight: bold;
  color: var(--secondary-color);
}

.btns_ctn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shoe_form_images {
  flex-grow: 1;
}


.disable{
  visibility: hidden;
}

@media screen and (max-width: 1400px) {
  .shoe_form_ctn {
    flex-direction: column;
    align-items: center;
  }

  .shoe_form {
    width: 90%;
    padding: 0;
  }

  .shoe_form_images {
    width: 90%;
    padding: 0;
  }
  .shoe_configure {
    width: 90%;
    padding: 0;
  }
}



@media screen and (max-width: 1900px) {
  .image_form {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}


.pair{
  display: flex;
  flex-direction: row !important;
}
.pair input{
  width: 100px;
}