.profile-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 93vh;
    padding: 0 50px;
}
.profile-account-section{
    display: flex;
    padding: 50px 0;
    flex-direction:column;
    justify-content: flex-start;
}

.profile-account-section h2{
    font-size: 30px;
    font-weight: bold;
}


.profile-record-section{
    flex-grow: 1;

}


.nav-records li {
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;

}
