<!DOCTYPE html>
<html>
    <head>
        <title>Verification Code</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
<body
style="background-color: black;padding: 50px;">
    <img style="display: block;height: 300px; width: 500px;margin: auto;" src="https://res.cloudinary.com/dex16gvvy/image/upload/v1699475321/solestyle/nqug3ihmhbrcnfrftwhq.png" alt="">
    <p style="display: block;width: 500px;margin: auto;font-family: Arial, Helvetica, sans-serif;font-size: 20px;color: white;">
        Here's the one-time verification code you requested: {{.Code}}. This code expires after 45 seconds
         If you've already received this code or don't need it anymore, ignore this email.
    </p>
</body>

</html>