.receipt-ctn {
  background-color: var(--primary-color);
  padding: 20px;
  width: 800px;
}

.receipt-details {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  gap: 1rem;
}

.receipt-details div {
  flex-grow: 1;
  max-width: 45%;
  overflow-y: auto;
  overflow-x: auto;
}

.receipt-details p {
  flex-grow: 1;
}

.receipt-header h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 15px 0;
}

.receipt-header p {
  padding: 30px 0;
}

.receipt-table {
  padding: 20px 0;
  width: 100%;
  border-collapse: collapse;
}
.receipt-table-ctn {
  max-height: 350px;
  overflow-y: auto;
}

.receipt-table-ctn.scrolled {
  margin-right: -12px;
}



.receipt-table tr th:not(:first-child) ,
.receipt-table tr td:not(:first-child) {
  text-align: center;
  width: 100px;
}

.receipt-table tr td:first-child,
.receipt-table tr th:first-child {
  text-align: center;
  width: 100px;
}

.receipt-product-name {
  height: 100px;
  max-height: 100px;
  width: 200px!important;
  max-width: 200px!important;
   overflow: hidden;
  text-overflow:clip;
  width: 200px;
}

.receipt-details-column-name{
  width: 200px!important;
  max-width: 200px!important;
}


.receipt-product-name-header {
  width: 200px!important;
}

.receipt-details-column {
  height: 30px;
  max-height: 30px;
}

.receipt-product-image {
  height: 100px;
  width: 100px;
  max-width: 100px;
}

.receipt-total-row {
  border-top: 1px solid black;
  position: sticky;
}


.receipt-ctn-loader{
  height: 200px!important;
}