html,
body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  min-width: 600px;
  overflow-x: hidden;
}


:root {
  --main-color: #ffffff;
  --secondary-color: #000000;
  --tone-of-gradient: #f8f8f8;

  --gray-color: #dddddd;
  --gray-2-color: #999999;
  --transparent-gray-color: rgba(196, 196, 196, 0.295);
  --black-color: #333333;
  --black-2-color: #222222;
  --black-3-color: #111111;

  --warning-color: #f7002d;
  --alert-color: #fff500;
  --success-color: #90ff67;
  --info-color: #00b3ff;

  --first-title-font: "Lato", sans-serif;
  --second-title-font: "Nunito Sans", sans-serif;
  --third-title-font: "Nunito Sans", sans-serif;

  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --box-2-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: var(--second-title-font);
}

body {
  display: flex;
  flex-direction: column;
}

#__next {
  flex-grow: 1;
}
