name: "Frontend Workflow"
run-name: ${{ github.actor }} is executing the workflow ${{ github.workflow }}.

on:
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - develop
      - testing_workflow
    paths:
      - "frontend/**"
  push:
    paths:
      - "frontend/**"
    branches:
      - develop
      - testing_workflow

jobs:
  build:
    if: ${{ github.event_name == 'pull_request' }}
    name: Build
    runs-on:  ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ vars.NODE_VERSION }} 

      - name: Build Frontend
        run: cd frontend && npm ci && npm run build --if-present


  test:
    if: ${{ github.event_name == 'pull_request' }}
    needs: build
    name: Test
    runs-on:  ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ vars.NODE_VERSION }} 

      - name: Test Frontend
        run: cd frontend && npm ci && node --test

  push_image:
    if: ${{ github.event_name == 'push' }}
    name: Publish to DockerHub
    runs-on:  ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set short git commit SHA
        id: short_sha
        run: |
            echo 'COMMIT_SHORT_SHA='"${GITHUB_SHA::7}"'' >> $GITHUB_ENV

      - name: Log in to Docker Hub
        uses: docker/login-action@v3.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build-Push 
        uses: docker/build-push-action@v5.0.0
        with:
          context: frontend/
          file: frontend/Dockerfile.prod
          push: true
          tags: solestyleimages/frontend:${{ env.COMMIT_SHORT_SHA }}, solestyleimages/frontend:latest
          labels: ${{ steps.meta.outputs.labels }}

